.videos img {
  width: 100%;
  border-radius: 15px;
  // box-shadow: 1px 1px 7px 1px #000;
  border: 1px solid #B9B9B9
}

.videos img:hover {
  box-shadow: 2px 1px 3px 1px #000000;
}

.videos
{
  li {
    text-align: center;
    h3 {
      font-size: 0.8em;
      color: #000;
    }
    time {
      padding-bottom: 10px;
    }
  }
}

@media(min-width: 800px) {
  .videos li {
    width: 31%;
    display: inline-block;
    padding: 1%;
    text-align: center;
  }
}

.description {
  padding: 20px 2%;
  background-color: #ECECEC;
}
